body{
    margin: 0px;
}

.header{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-around;
}

.link{
    text-decoration: none;
    font-family: sans-serif;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box{
    background-color: aquamarine;
}
